.main {
    height: 100vh;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.cardSection{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}